/* The div that holds all of the days together */
.calendar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-x: auto;
}

/* Each day of the calendar. This is the parent component that holds most of the children eleemnts below this */
.calendar-day {
    display: flex;
    flex-direction: column;
    flex: 0 0 350px;
    min-width: 300px;
    padding: 5px;
}

/* Special styling for the current day of the week (like the actual name of the day itself) */
.day-title-number {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

/* Wraps the current month title */
.current-month {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.current-month {
    font-size: 60px;
}

.calendar-event {
    position: relative;
    padding: 10px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 8px 5px 8px rgba(0, 0, 0, 0.22);
    margin-bottom: 6px;
    z-index: 0;
}

.calendar-event::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('/src/assets/white-paper-texture.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: inherit;
    filter: brightness(1.25) contrast(0.9);
    z-index: -1;
}

.calendar-container {
    overflow: hidden;
}