.expanded-card {
  position: fixed;
  inset: 0;               /* ← fills viewport */
  margin: auto;           /* ← centers */
  width: 44vw;
  height: 95vh;

  background: rgb(252, 252, 252);

  display: flex;
  flex-direction: column;
  align-items: center;



  overflow-y: auto;

  z-index: 8000;   
}


.close-btn {
  position: absolute;
  top: 15px;
  margin-right: 1vw;

  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1;
  z-index: 8300;
}

.review-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(62, 42, 9);
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 90px;

}

.club-img-exp {
  background-color:#f7e077;
  display: flex;
  flex-shrink: 0;
  margin-bottom: 20px;
  border-radius: 5000px;
  border: 1px solid;
  z-index: 8200;
  border-color:#000000;
  
}

.rectangle{
  
  gap: 1rem;
  background-color: #F9F5eb;
  z-index: 8000;
  border-radius: 20px;
  align-content: center;

  
}

.club-name-exp{
  font-family: "Josefin Sans", sans-serif;
 
  margin-right: 5vh;
  align-self: flex-start;
  color: rgb(60, 120, 35);
  font-weight: 500;
  font-style: normal;
  letter-spacing: -1.2px;
  font-size: max(80px,4.5vw);
  z-index: 8200;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.club-tag1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  align-self: flex-start;
  z-index: 8200;
  margin-bottom: 30px;
  gap: 1rem;
  letter-spacing: -1.2px;
  color:grey;

}

.club-tag2 {
  font-size: 10px;
  display: flex;
  gap: 2rem;
  margin-bottom: 10px;

}

.tag {
  padding: 6px 30px;
  font-size: 15px;
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 90px;
}
  
.club-description-exp {

  align-self: flex-start;
  margin-left: 10vh;
  margin-right: 10vh;
  color:rgb(66, 66, 66);
  text-align: center;
}


.divider {
  width: 90%;
  height: 1px;
  background-color: rgb(71, 71, 71);
 
}

.content-col{
  width: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-flex{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 12.5vw;
  max-height: 17vw;
  overflow: hidden;
  flex:1;

}




@media (max-width: 699px)  {
  
  .expanded-card{
    width: 90vw;
    border-radius: clamp(12px, 5.5vw, 28px);
    box-shadow: 0 20px 80px rgba(0,0,0,0.4), 
            0 0 0 9999px rgba(46, 46, 46, 0.65),
            1px 1px 8px #adadad inset;
            ;
  }
  
  
  .club-img-exp {
  
  width: 87vw;
  height: 87vw;
 
  background-color:#f7e077;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 20px;
  
  font-size: 10rem;
  border: 1px solid;
  z-index: 8200;
  border-color:#000000;
  

  }
  
  .club-name-exp {
    font-size: 3rem;
  }
  .club-tag1{
    font-size: clamp(32px,1rem);
  }
  .club-tag2 {
  font-size: 0.5rem;
  display: flex;
  gap: 2rem;
  margin-bottom: 10px;

}

.tag {
  padding: 0.3rem 1.75rem;
  font-size: 0.5rem;
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 90px;
}

.rectangle{

  width: 90vw;
  height: 89vw;
  margin-top: -22px;

}
}
   
@media (min-width: 700px) {
.expanded-card {
  position: fixed;
  inset: 0;               
  margin: auto;           
  width: 100vw;
  height: 100vh;
  background: rgb(252, 252, 252);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  z-index: 8000;   
}


.club-img-exp {
  background-color:#f7e077;
  justify-content: flex-start;
  align-items: center;
  width: 25vw;
  height: 25vw;
  font-size: 5rem;

  
}

.rectangle{
  width: 95vw;
  height:20vw;
  

}

.content-row{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

}

.text-flex{
margin-top: 4rem;
margin-left: 2rem;
}

.club-name-exp{
font-size: clamp(2rem, 4vw, 5rem);
  line-height: 1.2;
  margin: 0 0 1rem 0;
  
}
.club-tag1{
  font-size: clamp(1rem, 2vw, 1.8rem);
  margin:0;
  opacity: 0.7;
}

}