.UniPage {
  background-color: #f4f8f8;
  /*#f8f6f4*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  min-width: 800px;
  width: 100%;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
}

.header{
  background-color: #f8f6f4;
  width: 100%;
  height: 80px;
}
/*150px*/

.raleway-uni {
  
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  color: rgb(0, 0, 0);
  /* 10vh*/
  margin-top: 0.5%;
  margin-bottom: 12px;
}

.fixed-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  z-index: 999;
 
  /* 0% 77% 79%*/
  background: linear-gradient(to bottom, #f8f6f4 0, #f8f6f4 250px, transparent 265px);
}

@media (max-width: 775px) {
  .raleway-uni{
    font-size: 12vw
  }
}

.flag{
  margin-left: 20px;
  height: 60px;
  margin-top: 10px;
}