.UniPage {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  min-width: 800px;
  width: 100%;
 
  box-sizing: border-box;
  color: rgb(0, 0, 0);
}

.raleway-uni {
  
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 210.9rem 1;
  font-style: normal;
  font-size: 10vh;
  /* 10vh*/
  margin-top: 0.5%;
  margin-bottom: 12px;
}

.fixed-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  width: 100%;
  z-index: 999;
 
  
  background: linear-gradient(to bottom, #f9f9f9 0%, #f9f9f9 80%, transparent 100%);
}

@media (max-width: 549px) and (min-width: 100px) {
  .raleway-uni{
    font-size: 3rem

  }
}