.review-card {
  background: #f9f9f9;
  box-shadow: 1px 1px 2px #d3d3d3;
  padding: 20px;
  width: 35vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
  min-width: 225px;
  border-radius: 15px;
  border: 1px solid rgb(162, 162, 162);
  cursor: pointer;
  position: relative;
  z-index: 800;
  transition: transform 0.6s ease;
  z-index: 100;
}